<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/mapas">Mapas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mapa Google</li>
    </ol>
</nav>
<h1>Mapa Google</h1>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.3465816128078!2d-75.67708412497424!3d4.531455995442995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38f5ae08756787%3A0x767e170269807a3!2sC%C3%A1mara%20De%20Comercio!5e0!3m2!1sen!2sco!4v1737379205143!5m2!1sen!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>