<div class="container">
    <header class="border-bottom lh-1 py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="link-secondary" href="#">Subscribe</a>
        </div>
        <div class="col-4 text-center">
          <a class="blog-header-logo text-body-emphasis text-decoration-none" routerLink="/">
            <img src="/assets/images/lulu.jpg" width="100" height="100"/>
          </a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="link-secondary" href="#" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
          </a>
          <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
        </div>
      </div>
    </header>
  
    <div class="nav-scroller py-1 mb-3 border-bottom">
      <nav class="nav nav-underline justify-content-between">
        <a class="nav-item nav-link link-body-emphasis active" routerLink="/formularios"><i class="fa-solid fa-link"></i>Formulario</a>
        <a class="nav-item nav-link link-body-emphasis" routerLink="/material"><i class="fa-solid fa-poo"></i>Material</a>
        <a class="nav-item nav-link link-body-emphasis active" routerLink="/formulario2"><i class="fa-solid fa-link"></i>Formulario 2</a>
        <a class="nav-item nav-link link-body-emphasis active" routerLink="/modal"><i class="fa-solid fa-hippo"></i>Modal</a>
        <a class="nav-item nav-link link-body-emphasis active" routerLink="/moment"><i class="fa-solid fa-hippo"></i>Moment</a>
        <a class="nav-item nav-link link-body-emphasis active" routerLink="/graficos"><i class="fa-solid fa-hippo"></i>Gráficos</a>
        <a class="nav-item nav-link link-body-emphasis active" routerLink="/servicios"><i class="fa-solid fa-hippo"></i>Servicios</a>
        <a class="nav-item nav-link link-body-emphasis active" routerLink="/localstorage">LocalStorage</a>
        <a class="p-2 link-secondary" routerLink="/sesionstorage">SesionStorage</a>
        <a class="p-2 link-secondary" routerLink="/cookie">Cookie</a>
        <a class="p-2 link-secondary" routerLink="/api-rest">Api Rest</a>
      </nav>
    </div>
  </div>
