<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/material">Material</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tabs</li>
    </ol>
</nav>
<h1>Tabs</h1>
<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Candy</ng-template>
        <div class="datos">
            <p>
                <img src="/assets/images/candy.jpg" width="300" height="300" /> 
             </p>
        </div>
    </mat-tab>
    <mat-tab label="Abuela">
        <div class="datos">
            <p>
                <img src="/assets/images/abuela.jpg" width="300" height="300" /> 
             </p>
        </div>
    </mat-tab>
    <mat-tab label="Abuelo">
        <div class="datos">
            <p>
                <img src="/assets/images/abuelo.jpg" width="300" height="300" /> 
             </p>
        </div>
    </mat-tab>
    <mat-tab label="Anime">
        <div class="datos">
            <p>
                <img src="/assets/images/anime.jpg" width="300" height="300" /> 
             </p>
             <h3>Anime</h3>
             <p>Animes de romanceeeee</p>
        </div>
    </mat-tab>
</mat-tab-group>