<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/material">Material</a></li>
    <li class="breadcrumb-item active" aria-current="page">Panel Expansión</li>
  </ol>
</nav>
<h1>Panel Expansión</h1>
<div style="width: 70%; margin: 0 auto">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Don quijote</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    cualquier cosa
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Sancho panza</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    cualquier cosa 2
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Raúl</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    cualquier cosa 3
  </mat-expansion-panel>
</div>
