<h1>Ejemplos con moment</h1>
<ul>
  <li>Fecha: {{ fecha }}</li>
  <li>Fecha corta: {{ fechaCorta }}</li>
  <li>
    Fecha cadena de texto: {{ diaSemana }},{{ dia }} del {{ mes }} del año
    {{ anio }}
  </li>
</ul>
<hr />
<h1>Cálculos con fechas</h1>
<ul>
  <li>Fecha + 7 días: {{ fechaDias }}</li>
  <li>Fecha - 7 días: {{ fechaMenosDias }}</li>
  <li>Año + 7 años: {{ fechaAnio }}</li>
  <li>Año - 7 años: {{ fechaMenosAnio }}</li>
  <li>Mes + 7 meses: {{ fechaMes }}</li>
  <li>Mes - 7 meses: {{ fechaMenosMes }}</li>
</ul>
